<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042508857638-bagipic3dl9ij3dkscatf6i4r59a58n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042508857638-bagipic3dl9ij3dkscatf6i4r59a58n4</string>
	<key>API_KEY</key>
	<string>AIzaSyCwJoLb3K-Ark4VHKDAljp5rtS-ISlhbR0</string>
	<key>GCM_SENDER_ID</key>
	<string>1042508857638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jonathangracia.CurriculimVitae</string>
	<key>PROJECT_ID</key>
	<string>curriculumapp-b68c3</string>
	<key>STORAGE_BUCKET</key>
	<string>curriculumapp-b68c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042508857638:ios:67a4f1dba61f6fde4981e7</string>
</dict>
</plist>